<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="host.config">
		<!-- defaults -->
		<add key="NewAssetCount" value="10" />
		<add key="TempDataCount" value="10" />
		<add key="SearchResultCount" value="15" />
		<add key="MaxFileUploadKB" value="250" />
		<add key="MaxPersonalImageWidth" value="300" />
		<add key="ValidationCodeLength" value="16" />
		<add key="SaveDelayMinutes" value="5" />
		<add key="WebPartsMinimized" value="True" />
	    
		<!-- folders and pages -->
		<add key="ContentFolder" value="content" />
		<add key="DataFolder" value="data" />
		<add key="TempDataFolder" value="data/temp" />
		<add key="FileShareFolder" value="files/contributed" />
		<add key="DownloadFolder" value="download" />
		<add key="LoginPage" value="~/signin.aspx" />
		<add key="NoCookiePage" value="~/privacy.aspx?cookies=no#cookies" />
	    
		<!-- e-mail settings -->
		<add key="MailFrom" value="editor@paradigmedit.com" />
		<add key="ConfirmationTemplate" value="~/content/e-mail/ConfirmationCode.txt" />
		<add key="ApprovalTemplate" value="~/content/e-mail/ResourceApproved.txt" />
		<add key="PasswordTemplate" value="~/content/e-mail/ForgotPassword.txt" />
		<add key="ErrorTemplate" value="~/content/e-mail/Error.htm" />
	    
		<!-- visual settings -->
		<add key="GeneratedImagePath" value="~/images/generated/" />
		<add key="BackGroundColor" value="#000" />
	    
		<!-- settings for corner graphics -->
		<add key="CornerRadius" value="10" />
		<add key="CornerColor" value="#7a1314" />
		<add key="CornerBorderColor" value="#feb800" />
		<add key="CornerBorderWidth" value="1" />
	    
		<!-- settings for rating star graphics -->
		<add key="StarRadius" value="7" />
		<add key="StarColor" value="#fe0" />
		<add key="StarBurstColor" value="#f90" />
		<add key="StarBorderColor" value="#8ac" />
		<add key="StarBorderWidth" value="1" />
	    
		<!-- settings for toggle graphics -->
		<add key="ToggleHeight" value="11" />
		<add key="ToggleColor" value="#fff" />
	    
		<!-- settings for button graphics -->
		<add key="ButtonHeight" value="14" />
		<add key="ButtonColor" value="#468" />
		<add key="ButtonTextColor" value="#ffffff" />
		<add key="ButtonHighlightColor" value="#e80" />
		<add key="ButtonTemplate" value="~/images/templates/bluebevel.png" />
	    
		<!-- data store settings -->
		<add key="LegacyStore" value="~/data/legacy.mdb" />
		<add key="QuotesStore" value="~/data/quotes.xml" />
		<add key="FeaturesStore" value="~/data/features.xml" />
		<add key="MenuStore" value="~/sitemap.xml" />
		<add key="ActivityLogStore" value="~/data/activityLog.mdb" />
		<add key="ErrorLogStore" value="~/data/errorLog.mdb" />
		
	</appSettings>
	<system.web>
		<compilation defaultLanguage="vb" debug="true" />
		<customErrors mode="Off" />
		<authentication mode="Forms" /> 
		<trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="true" />
		<sessionState 
				mode="InProc"
				stateConnectionString="tcpip=127.0.0.1:42424"
				sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
				cookieless="false" 
				timeout="20" 
		/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<pages enableSessionState="true"
			   enableViewState="false"
			   enableViewStateMac="false"
			   validateRequest="false"
		/>
		<httpHandlers>
			<add verb="GET" path="cachedimage.axd" type="AMP.ImageHandler,AMP.ParadigmEdit" />
		</httpHandlers>
		<browserCaps>
			<!-- GECKO Based Browsers (Netscape 6+, Mozilla/Firebird, ...) //-->
			<case match="^Mozilla/5\.0 \([^)]*\) (Gecko/[-\d]+)? (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)).*">
				browser=Gecko
				type=${type}
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
				png=true
				<case match="rv:(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))">
					version=${version}
					majorversion=${major}
					minorversion=${minor}
					<case match="^b" with="${letters}">
						beta=true
					</case>
				</case>
			</case>
				
			<!-- AppleWebKit Based Browsers (Safari...) //-->
			<case match="AppleWebKit/(?'version'(?'major'\d)(?'minor'\d+)(?'letters'\w*))">
				browser=AppleWebKit
				version=${version}
				majorversion=${major}
				minorversion=0.${minor}
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				png=true
				tagwriter=System.Web.UI.HtmlTextWriter
				<case match="AppleWebKit/(?'version'(?'major'\d)(?'minor'\d+)(?'letters'\w*))( \(KHTML, like Gecko\) )?(?'type'[^/\d]*)/.*$">
					type=${type}
				</case>
			</case>

			<!-- Konqueror //-->
			<case match="Konqueror/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'));\w*(?'platform'[^\)]*)">
				browser=Konqueror
				version=${version}
				majorversion=${major}
				minorversion=${minor}
				platform=${platform}
				type=Konqueror
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				png=true
				tagwriter=System.Web.UI.HtmlTextWriter
			</case>			
		</browserCaps> 
	</system.web>
</configuration>
